html, body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #c62828; /* Rojo */
    color: #ffffff; /* Blanco */
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #ffffff; /* Blanco */
    margin: 0 20px;
    font-size: 18px;
    transition: color 0.3s ease;
}

a:hover {
    color: #ef5350; /* Rojo más claro para resaltar */
}

/* Main */
main {
    padding: 20px 0;
}

article {
    background-color: #ffffff; /* Blanco */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 28px;
    color: #c62828; /* Rojo */
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    color: #333;
}

details {
    margin-bottom: 20px;
}

summary {
    cursor: pointer;
    font-size: 18px;
    color: #c62828; /* Rojo */
    transition: color 0.3s ease;
}

summary:hover {
    color: #ef5350; /* Rojo más claro para resaltar */
}

/* Funcionalidad de expansión y contracción */
.details p {
    display: none;
}

.details.active p {
    display: block;
}

.details::after {
    content: '▼';
    margin-left: 5px;
    font-size: 1.2em;
    color: #555555;
    transition: transform 0.3s ease;
}

.details.active::after {
    content: '▲';
    transform: rotate(180deg);
}

/* Footer */
footer {
    background-color: #c62828; /* Rojo */
    color: #ffffff; /* Blanco */
    padding: 20px 0;
    text-align: center;
    border-top: 1px solid #ad1457; /* Tono más oscuro de rojo para resaltar */
}

p {
    text-align: center;
    font-size: 16px;
}
